html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, caption {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

.container {
  display: flex;
  flex-direction: column;
}

/* Header */

.header {
  align-items: center;
  background-color: royalblue;
  color: white;
  display: flex;
  font-size: 1.8em;
  min-height: 10vh;
  justify-content: center;
}

/* Main-block */

.main-block {
  display: flex;
  flex: 2;
  flex-wrap: wrap;
}

.main-block > * {
  box-sizing: border-box;
  padding: 20px;
  width: 100%;
}

/*Navigation*/

.nav-bar {
  background-color: orange;
  font-size: 1.2em;
  min-height: 10vh;
}

/*Content*/

.content-block {
  background-color: white;
  min-height: 60vh;
}

.content-title {
  font-size: 1.4em;
  margin: 0 0 10px 0;
}

.content {
  font-size: 1.1em;
}

/*Links*/

.links-block {
  background-color: darkviolet;
  font-size: 1.2em;
  min-height: 10vh;
}

/* Footer */

.footer {
  align-items: center;
  background-color: green;
  color: white;
  display: flex;
  font-size: 1.8em;
  min-height: 10vh;
  justify-content: center;
}

@media only screen and (min-width: 768px) {

  .main-block {
    flex-wrap: nowrap;
  }

  .nav-bar {
    width: 20%;
  }

  .content-block {
    min-height: 80vh;
    width: 60%;
  }

  .links-block {
    width: 20%;
  }

}

